.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;

  > span:nth-child(1) {
    width: 100vh;
    height: 500px;
    border-radius: 50%;
    background-image: linear-gradient(
      to bottom,
      rgba(#db87e9, 0.1) 0%,
      rgba(#9343fc, 0.1) 100%
    );
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    filter: blur(60px);
  }
}
