.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 1rem 1rem;
  background-position: center center;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
  background-image: linear-gradient(
      to right,
      var(--bg-color-2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--bg-color-2) 1px, transparent 1px);
}

.main {
  height: calc(100vh - 4.1rem);
}
